body {
  margin: 0;
  font-family: Arial;
  background: #0d1117;
  color: white;
}

/* LOGIN */
.center-box {
  width: 320px;
  margin: 100px auto;
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  background: #0d1117;
  border: 1px solid #30363d;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #161b22;
  border-bottom: 1px solid #30363d;
}

/* CONTENT */
.content {
  padding: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
}

.card.full {
  grid-column: span 2;
}

/* TABLES */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background: #161b22;
}

th, td {
  padding: 10px;
  border: 1px solid #30363d;
  text-align: center;
}

button {
  padding: 8px 12px;
  background: #238636;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2ea043;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {

  .grid {
    grid-template-columns: 1fr;
  }

  .center-box {
    width: 90%;
    margin: 50px auto;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-buttons {
    margin-top: 10px;
  }

  table {
    font-size: 12px;
  }

  th, td {
    padding: 6px;
  }

  button {
    width: 100%;
    margin-top: 5px;
  }

}